/.env
/.idea
/.nyc_output
/.projectile
/.dccache
/coverage
/dist
/node_modules
/test/__coverage__
/test/__nycoutput__
*.log
.DS_Store
.history
/testlib
/experiments
/tmp
/test/tmp
/devUtilities/encryption/**/keys
/devUtilities/encryption/**/data
*.xlsx
*.zip

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json